#commentSection {
    text-align: center;
}

.commentArea {
  display: block;
  padding: 10px 15px;
  margin: 10px;
  background-color: rgb(153, 224, 255, 0.2);
  border-radius: 20px;
}

.authorID {
  color: rgb(0, 89, 128);
  font-weight: 600;
  margin: 0 10px 0 0;
  display: inline-block;
}

.message {
  display: inline;
  margin-left: 5px;
  text-align: left;
}

.deleteButton2 {
  background-color: rgb(0,0,0,0);
  margin: 0 10px;
  border: none;
  color: red;
  font-size: 14px;
}

.deleteButton2:hover, .postCommentButton:hover, .commentButton:hover {
  cursor: pointer;
}

.profilePic2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentForm {
  display: inline;
}

.postComment {
  width: 600px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
}

.postComment:focus {
  border: 1px solid rgb(153, 224, 255);
}

.postCommentButton {
  border-radius: 20px;
  width: 90px;
  border: none;
  background-color: #0F77FF;
  color: white;
  padding: auto;
  height: 30px;
}

.commentButton {
  border-radius: 20px;
  width: 100%;
  border: none;
  background-color: rgb(153, 224, 255, 0.2);;
  color: rgb(0, 89, 128);
  font-weight: 600;
  padding: auto;
  height: 30px;
}
