.postButton {
  height: 50px;
  width: 200px;
  margin: 20px;
  border:0px solid #05cdff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-decoration:none;
  display:inline-block;
  color: #FFFFFF;
  background-color: #12B8FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#12B8FF), to(#0F77FF));
  background-image: -webkit-linear-gradient(top, #12B8FF, #0F77FF);
  background-image: -moz-linear-gradient(top, #12B8FF, #0F77FF);
  background-image: -ms-linear-gradient(top, #12B8FF, #0F77FF);
  background-image: -o-linear-gradient(top, #12B8FF, #0F77FF);
  background-image: linear-gradient(to bottom, #12B8FF, #0F77FF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#12B8FF, endColorstr=#0F77FF);
}

.postButton:hover{
    cursor: pointer;
}

h3{
  display: inline;
}

.postInput {
  width: 95%;
  height: 100px;
  vertical-align: top;
  border: none;
}

.newPostArea {
  width: 60%;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
}

.userInfo {
  text-align: left;
  margin: 10px 40px;
}
