.postContainer{
    border: 2px solid gray;
    border-radius: 5px;
<<<<<<< HEAD
    width: 90%;
    display: inline-block;
    margin:3%;
    padding:5px;
    text-align: justify;
=======
    width: 60%;
    display: inline-block;
    margin:3%;
    padding:5px;

>>>>>>> jasmine
}

.userImage, .userName, .editButton{
    display: inline-block;
<<<<<<< HEAD
}
=======
}
>>>>>>> jasmine
